{{ define "footer" }}
    <footer>
        <div class="row justify-content-center">
            <div class="col-2">
                <i class="fa-solid fa-copyright"></i>
                copyright 2025
            </div>

        </div>

    </footer>
    </html>
{{ end }}