{{ template "header" . }}
    <body>
    <div class="row justify-content-center">
        <div class="col-4">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <label>Don't have a account? <a href="/sign-up">Click here to sign up.</a> </label>
                <div class="mb-3 align-content-center">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>

            </form>
        </div>
    </div>
    </body>
{{ template "footer"  }}